.pagina-lista-quizzes {
	height: 100%;
	padding-top: 69px;
}

.pagina-lista-quizzes .pagina-lista-quizzes-conteudo {
	width: 1050px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

.pagina-lista-quizzes .pagina-lista-quizzes-conteudo .quizzes-do-usuario {
	display: flex;
	width: 100%;
	height: 181px;
	background-color: blue;
	margin-top: 77px;
}

.sem-quizz-do-usuario {
	display: flex;
	flex-direction: column;

	justify-content: space-around;
}

.pagina-lista-quizzes .pagina-lista-quizzes-conteudo .todos-os-quizzes {
	padding-top: 77px;
}

.pagina-lista-quizzes .pagina-lista-quizzes-conteudo .todos-os-quizzes > h1 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}

.lista-quizzes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lista-quizzes .quizz {
	width: 340px;
	height: 181px;
	position: relative;
	padding-top: 15px;
}

.lista-quizzes .quizz .imagem-do-quizz {
	position: relative;
}

.lista-quizzes .quizz .imagem-do-quizz::after {
	content: "";
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 10;
	width: 100%;
	height: 181px;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.7),
		rgba(255, 255, 255, 0) 70%
	);
	border-radius: 5px;
}

.lista-quizzes .quizz img {
	width: 340px;
	height: 181px;
	border-radius: 5px;
}

.lista-quizzes .quizz .titulo-do-quizz {
	position: absolute;
	bottom: 0px;
	width: 95%;
	font-size: 19px;
	z-index: 9999;
	color: #ffffff;
	display: flex;
	padding: 10px 20px;
}

@media (max-width: 1100px) {
	.pagina-lista-quizzes .pagina-lista-quizzes-conteudo {
		width: 100%;
	}

	.lista-quizzes {
		flex-direction: column;
	}
}
