.pagina-criar-quizz {
	display: none;
	width: 100%;
	height: 100%;
	padding-top: 140px;
	justify-content: center;
}

.etapa{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
}

.etapa .btn{
	margin-top: 85px;
}

.etapa1{
	display: flex;
}

.etapa2{
	display: none;
}

.form-etapa{	
	width: 600px;
	margin-top: 27px;
	/* margin-bottom: 85px; */
	padding: 13px 20px 15px 16px;	
}

.subtitulo-esquerda{
	padding: 20px 0px 4px 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	content: "jlksdfkjkljsdf";
}

.subtitulo-esquerda ion-icon{
	font-size: 20px;
	color: black;
}

.espacador{
	margin-top: 15px;
}

.icones-para-colapsar{
	position: relative;
	right: 0px;
}

@media (max-width: 1100px) {
	.form-etapa {
		width: 100%;
	}

	.etapa .btn{
		margin-top: 20px;
	}
}

/* .pagina-criar-quizz {
	display: flex;
	height: 100%;
	padding-top: 140px;
	justify-content: center;
}

.pagina-criar-quizz-etapa1 {
	display: none;
	width: 600px;
	justify-content: center;
}

.pagina-criar-quizz-etapa2 {
	display: flex;
	width: 600px;
	justify-content: center;
}

.pagina-criar-quizz-etapa3 {
	display: none;
	width: 600px;
	justify-content: center;
}

.pagina-criar-quizz-etapa4 {
	display: none;
	width: 600px;
	justify-content: center;
}

.pagina-criar-quizz-etapa-conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.pagina-criar-quizz-etapa1 .titulo-h1 {
	justify-content: center;
}

.caixa-conteudo-para-criar-quizz {
	margin-top: 27px;
	margin-bottom: 85px;
	padding: 13px 20px 15px 16px;
	box-sizing: border-box;
}

.caixa-conteudo-para-criar-quizz input {
	margin-top: 9px;
}

.caixa-conteudo-para-criar-quizz h2 {
	margin-top: 20px;
}

.pagina-criar-quizz-etapa1 .btn {
	padding: 0px 40px;
}

@media (max-width: 1100px) {
	.pagina-criar-quizz-etapa1 {
		width: 100%;
	}

	.caixa-conteudo-para-criar-quizz {
		
		margin: 20px;
	}
} */
